.main {
	position: absolute;
	width: 100%;
	left: 0;
}

.title {
	font-size: 50pt;
	text-decoration: underline;
}

.mainalign {
	margin-top: 70px;
	text-align: center;
	margin-bottom: 85px;
}

.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 10%;
	margin-right: 10%;
}

.griditem {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.image {
	width: 100%;
}

.imagebsc {
	width: 66.6%;
}

.iconbsc {
	width: 30%;
}

.iconskaven {
	width: 50%;
}

.sidenotes {
	font-size:15px;
}