@font-face {
	font-family: MARIO_Font;
	src: url("../mna/font/MARIO_Font_v3_Solid.otf");
}

@keyframes cloudscroll {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: -761px 0px;
	}
}

body {
	background-image: url("../mna/img/bgs/sky1.png");
	background-repeat: repeat-x;
	left: 0;
    top: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-position-y: 505px;
	background-color: #19caff;
}

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	align-items: center;
	background-image: url("../mna/img/bgs/cloudyheader.png");
	height: 200px;
	z-index: -1;
	animation: cloudscroll 25s linear infinite;
}

.navbutton {
	margin-top: -50px;
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
	background-color: #606060;
	border-top-color: #B7B7B7;
	border-right-color: #A7A7A7;
	border-bottom-color: #8A8A8A;
	border-left-color: #707172;
}

.link {
	color: #FFFFFF;
	text-decoration: none;
	font-family: MARIO_Font;
	font-size: 20pt;
	margin-bottom: 40px;
}

.logoheader {
	text-align: center;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-width: 940px;
	margin-top: 128px;
}

.mnalogo {
	width: 640px;
}

.clouds {
	background-image: url("../mna/img/bgs/clouds.png");
	min-width: 960px;
	height: 1522px;
	width: 100%;
	background-repeat: repeat-x;
	animation: cloudscroll 50s linear infinite;
	position: absolute;
	left: 0;
	margin-top: -330px;
	z-index: -2;
}

.main {
	left: 0;
	text-align: center;
	position: absolute;
	background-image: url("../mna/img/bgs/forest.png");
	background-position: bottom;
	width: 100%;
	background-repeat: repeat-x;
    margin-top: 880px;
}

.allcontainers {
	padding: 32px;
}

.container1 {
	grid-area: about;
}

.demodownload {
	width: 50%;
}

.container2 {
	grid-area: screenshots;
}

.container3 {
	grid-area: videos;
}

.container4 {
	grid-area: links;
}

.maingrid {
	display: grid;
	grid-template-areas:
	'about'
	'screenshots'
	'videos'
	'links';
	grid-row-gap: 30px;
	font-size: 20pt;
	letter-spacing: 0.5pt;
	color: #FFFFFF;
	text-shadow: 0 0 10px #000000;
	width: 100%;
}

.header {
	top: 0;
	left: 0;
	background-size: 100% 100%;
}

.headerbutton {
	font-family: MARIO_Font;
	font-size: 40pt;
	color:#FFFFFF;
	text-shadow: 0 0 10px #000000;
	background-image: linear-gradient(#009646, #F0FF46);
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	pointer-events: none;
}

.demodownload {
	width: 426px;
}

a {
	color: #FFFFFF;
}